:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #ffffff;
  --link-color: #2196f3;
  --secondary-text-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  display: block;
}

body {
  background-color: var(--primary-background-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.link {
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:focus,
.link:hover {
  color: var(--link-color);
  fill: var(--link-color);
}

.list {
  list-style: none;
}

.button {
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;

  padding: 10px 32px;
  border-radius: 4px;
  max-width: 200px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background: #2196f3;
}

.title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.heading {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}
.current {
  position: relative;

  color: var(--link-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-color);
  border-radius: 2px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 2px dashed red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------HEADER-------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}
.logo-web {
  color: #2196f3;
}
.header-nav {
  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;
}
.header-link.tel {
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link.tel:hover,
.header-link.tel:focus {
  color: #2196f3;
}

.menu {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-item-right:not(:last-child) {
  margin-right: 50px;
}

.tel {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-mail {
  margin-right: 10px;
  fill: rgba(117, 117, 117, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-telephon {
  margin-right: 10px;
  fill: rgba(117, 117, 117, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.tel:hover .icon-mail,
.header-link.tel:focus .icon-mail {
  fill: #2196f3;
}

.header-link.tel:hover .icon-telephon,
.header-link.tel:focus .icon-telephon {
  fill: #2196f3;
}
/* ------------HERO------------- */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/herobcg.jpg');
}

.hero-title {
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 696px;
  letter-spacing: 0.06em;

  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  background: #2196f3;
  color: var(--secondary-text-color);
  margin: 0 auto;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* ------------SOLUTION------------- */
.solution {
  padding-bottom: 48px;
}

.solution-title {
  margin-bottom: 10px;
}

.solution-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.solution-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.solution-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.solution-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}

.solution-icon {
  height: 70px;
  width: 70px;
}

/* -------------WWD------------- */
.wwd {
  padding-top: 47px;
}

.wwd-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.wwd-heading {
  margin-bottom: 50px;
}
.wwd-item {
  position: relative;

  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.wwd-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.wwd-div-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/* -------------TEAM------------ */

.team-heading {
  margin-bottom: 50px;
}

.team-item-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team {
  background: #f5f4fa;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  background-color: var(--primary-background-color);
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-icon {
  height: 44px;
  width: 44px;
}
.team-icon {
  height: 20px;
  width: 20px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-icon + .team-item-icon {
  margin-left: 10px;
}

.team-list-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-link:hover,
.team-item-link:focus {
  background: var(--link-color);
}

.team-item-link:hover .team-icon {
  fill: rgba(255, 255, 255, 1);
}

.team-item-link:focus .team-icon {
  fill: rgba(255, 255, 255, 1);
}
/* -----------Clients---------- */
.clients-heading {
  margin-bottom: 50px;
}
.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.clients-list {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
}
.clients-link {
  display: inline-block;
  height: 92px;
  width: 170px;
  border: 1px solid rgba(175, 177, 184, 1);
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--link-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--link-color);
}
/* -----------FOOTER------------- */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-div {
  margin-right: 70px;
}
.footer-enjoin {
  padding-top: 12px;
  width: 208px;
}
.flog {
  color: #ffffff;

  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  font-size: 500;
  color: #ffffff;

  display: inline-block;
  margin-bottom: 9px;
}

.footer-address-tel {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 9px;
}

.footer-text {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}
.footer-list-icon {
  display: flex;
}
.footer-item-icon {
  height: 44px;
  width: 44px;
}
.footer-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-icon + .footer-item-icon {
  margin-left: 10px;
}
.footer-item-link:hover,
.footer-item-link:focus {
  background: var(--link-color);
}

.footer-icon {
  height: 20px;
  width: 20px;
  fill: rgba(255, 255, 255, 1);
}

.footer-form {
  margin-left: 93px;
  padding-top: 12px;
}
.form-footer-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.form-footer-button {
  display: flex;
  align-items: center;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  max-width: 220px;
}
.form-footer-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-form-input {
  display: flex;
  text-align: left;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--primary-background-color);
}

.footer-form-div {
  display: flex;
}
/* ------------PORTFOLIO---------- */

.sites-list-right {
  display: flex;
  justify-content: center;
}

.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-text-color);
  background: #f5f4fa;

  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sites-item-right {
  margin-right: 8px;
  margin-bottom: 50px;
}

.sites-item-right:last-child {
  margin-right: 0;
  margin-bottom: 50px;
}

.sites-div {
  position: relative;
  overflow: hidden;
}

.sites-div-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.sites-link:hover .sites-div-absolute,
.sites-link:focus .sites-div-absolute {
  transform: translateY(0);
}

.sites-div-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-background-color);
}

.sites-list-left {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.sites-item-left {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.sites-bottom {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.sites-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}

.sites-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sites-link:hover,
.sites-link:focus {
  box-shadow: 0px 1px 1px rgba(141, 34, 34, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ------------------Modal-window------------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  background-color: white;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(0);
  transition: transform 250ms linear;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translateX(-100%);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-close {
  width: 70%;
  height: 70%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: var(--link-color);
}

.form-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 30px;
}

.form-input-span {
  display: block;
  position: relative;
}

.form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 5px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.checkbox-label {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-textarea {
  margin-bottom: 15px;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;

  color: rgba(117, 117, 117, 0.5);
}

.form-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-background-color);
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  left: 12px;
  width: 15px;
  height: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--link-color);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
}

.form-link {
  color: var(--link-color);
  text-decoration: underline;
}

.form-agree {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-agree:hover + .form-label,
.form-agree:focus + .form-label {
  cursor: pointer;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  width: 12px;
  height: 8px;
}

.form-agree:checked + .form-label > span {
  background-color: var(--link-color);
  border: none;
}
